.student-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    /* border-bottom: 1px solid #e1e1e1; */
}

.attendance-list {
    align-items: center;
}